{% if YOUTUBE %}
<a href="{{ YOUTUBE }}" target="_blank"><div class="icon-youtube icon"></div></a>
{% endif %}
{% if TWITTER %}
<a href="{{ TWITTER }}" target="_blank"><div class="icon-twitter icon"></div></a>
{% endif %}
{% if GITHUB %}
<a href="{{ GITHUB }}" target="_blank"><div class="icon-github icon"></div></a>
{% endif %}
{% if INSTAGRAM %}
<a href="{{ INSTAGRAM }}" target="_blank"><div class="icon-instagram icon"></div></a>
{% endif %}
{% if STRAVA %}
<a href="{{ STRAVA }}" target="_blank"><div class="icon-strava icon"></div></a>
{% endif %}
{% if TELEGRAM %}
<a href="{{ TELEGRAM }}" target="_blank"><div class="icon-telegram icon"></div></a>
{% endif %}
{% if GOODREADS %}
<a href="{{ GOODREADS }}" target="_blank"><div class="icon-goodreads icon"></div></a>
{% endif %}
{% if FOURSQUARE %}
<a href="{{ FOURSQUARE }}" target="_blank"><div class="icon-foursquare icon"></div></a>
{% endif %}
{% if UNTAPPD %}
<a href="{{ UNTAPPD }}" target="_blank"><div class="icon-untappd icon"></div></a>
{% endif %}
